

    <!-- ABOUT -->
    <!-- 1. row with dark primary color and logo
         2. slider with students at work possibly?
         3. light primary color individual photos with short bio
         4. footer with links   -->

<div class='row'>
  <div class='col s1 primary-color-dark'>
</div>
