
  <!----------------- Main ---------------->
  <div class="container center-align">

    <div class="row">
      <div id="logo">
        <div class="col s8 offset-s2 m4 offset-m4">
          <img class="responsive-img" src="static/images/logo.png" alt="Food for My Mood logo">
        </div>
        <div class="col s12">
          <p>the app for houston foodies, by houston foodies</p>
        </div>
      </div><!-- #logo -->
    </div><!-- .row -->

    <div class="row">
      <div class="col s12">
        <div class="input-field">
          <form id="search_form" action="/search/" method="GET">
            <input id="search" type="text" name="search_term">
            <label for="search"><i class="material-icons">search</i> I'm in the mood for . . .</label>
          </form>
          <br><br>
          OR
          <br><br>
          <a class="waves-effect waves-light btn blue-grey lighten-1" href="/moods/">Help me decide</a>

      </div>
      </div>

    </div>
</div><!-- .container -->

<!------------------- SCRIPTS ------------------->
<script src="static/js/axios.min.js"></script>
<script src="static/js/auto-complete.min.js"></script>
<script>

  var data = {};
  // Get user location through the browser
  if (sessionStorage.getItem("lat") && sessionStorage.getItem("long")){
    // sends the data to the backend
    data["lat"] = sessionStorage.getItem("lat");
    data["long"] = sessionStorage.getItem("long");
    // sends the data to order_by view and receives back text with the html to be rendered
    axios.post("/update_location/", data)
      .then((result) => {
        // replaces the content from the element with id = "listing" with the ordered data
        var x;
      })
      .catch((err) => {
        console.error(err.message);
      });
  }
  else{
    // if the lat and long are not stored in the sessionStorage, gets the user position through its browser
    getPosition()
      .then((position) => {
        // sends the data to the backend
        data["lat"] = position.coords.latitude;
        data["long"] = position.coords.longitude;
        // stores the lat and long in the sessionStorage
        sessionStorage.setItem("lat", position.coords.latitude);
        sessionStorage.setItem("long", position.coords.longitude);
        // sends the data to order_by view and receives back text with the html to be rendered
        return axios.post("/update_location/", data)
      })
      .then((result) => {
        })
      .catch((err) => {
        console.error(err.message);
      });
  }


  // initialize
  var message_not_found = "No match was found";
  //auto complete function
  var autoComplete = new autoComplete({
    selector: '#search',
    //autocomplete works after 2 characters are typed
    minChars: 2,
    source: function(term, suggest){
      term = term.toLowerCase();
      // adds the data to be passed through the api via get, in this case the user's partial input
      var config = {
        params: {selection: term},
      }
      //sends the get request with input to the backend
      axios.get('/autocomplete/', config)
        // receives the list with string for the suggestions from the backend
        .then(function(result){
          // displays the suggestions in the input
          suggest(result.data.suggestions);
        })
        .catch(function(error) {
          console.error(error);
        });
    },
    // when the user selects an item, sends a get request with the selected item
    onSelect: function(event, term, item){
      console.log(term);
      if(term !== message_not_found){
        // if the user chooses a valid item, submits the form
        document.getElementById("search_form").submit();
      }
      else{
        // if the user clicks on the "No match was found" message, cleans the input value
        document.getElementById("search").value = "";
      }
    }
  });
</script>
