<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TESTING</title>
    <link rel="stylesheet" href="static/css/auto-complete.css">
  </head>
  <body>
    <h1>Testing -- CONNECTED! :)</h1>
    <input id="hero-demo" type="text" name="search">
    <script src="static/js/auto-complete.min.js"></script>
    <script>
      // initialize

      var demo1 = new autoComplete({
                  selector: '#hero-demo',
                  minChars: 2,
                  source: function(term, suggest){
                      term = term.toLowerCase();
                      var choices = ['ActionScript', 'AppleScript', 'Asp', 'Assembly', 'BASIC', 'Batch', 'C', 'C++', 'CSS', 'Clojure', 'COBOL', 'ColdFusion', 'Erlang', 'Fortran', 'Groovy', 'Haskell', 'HTML', 'Java', 'JavaScript', 'Lisp', 'Perl', 'PHP', 'PowerShell', 'Python', 'Ruby', 'Scala', 'Scheme', 'SQL', 'TeX', 'XML'];
                      var suggestions = [];
                      for (i=0;i<choices.length;i++)
                          if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
                      suggest(suggestions);
                  }
              });

    </script>

  </body>
</html>
