<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food for My Mood</title>

    <!------------------ Styles/Fonts ------------------>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://use.fontawesome.com/0b323d712f.js" async></script>

    <link rel="stylesheet" href="/static/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/auto-complete.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/listing.css">

  </head>
  <body>

      <!---------------- Navbar ---------------->
      <nav style="border: 0;">
        <div class="nav-wrapper">
          <ul class="right hide-on-med-and-down">
            <li><a href="/"><i class="material-icons left">search</i>Search</a></li>
            <li><a href="/restaurants/"><i class="material-icons left">view_list</i>Restaurants A-Z</a></li>
            <li><a href=""><i class="material-icons left">mode_edit</i> Contribute</a></li>
            <li><a href="/about/"><i class="material-icons left">info</i>About</a></li>
            <li><a href=""><i class="material-icons left">code</i>GitHub</a></li>
          </ul>
          <ul class="side-nav orange-text" id="pancake">
            <li><a href="/"><i class="material-icons left">search</i><strong>Search</strong></a></li>
            <div class="divider"></div>
            <li><a href="/restaurants/"><i class="material-icons left">view_list</i>Restaurants A-Z</a></li>
            <li><a href=""><i class="material-icons left">mode_edit</i>Contribute</a></li>
            <li><a href="/about/"><i class="material-icons left">info</i>About</a></li>
            <li><a href=""><i class="material-icons left">code</i>GitHub</a></li>
          </ul>
          <a href="#" data-activates="pancake" class="button-collapse"><i class="material-icons left">menu</i></a>
        </div>
      </nav>

{{{body}}}

<!---------------- Base Layout Scripts --------------->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
<script>
  $(document).ready(function() {
    $(".button-collapse").sideNav();
<<<<<<< HEAD
    $('.slider').slider();
=======
    $('select').material_select();
    $('.modal').modal();
>>>>>>> master
  })
</script>
</body>
</html>
