
<div class="container">

<form method="POST" action="/">

<!-- row for heading -->
  <div class="row">
    <h2> I am feeling...</h2>
    <div>

  <!-- moods for food emojis -->
  <!-- first row -->
  <div class='row'>
  </div>

  <div class='row center-align'>
    <div class="col s3">
      <label>
        <input type="radio" name="moods" value="relaxed" />
        <img class="emojis hoverable circle responsive-img" src="static/images/relaxed.png">
        <h4> relaxed </h4>
      </label>
    </div>
    <div class="col s3">
      <label>
        <input type="radio" name="moods" value="hangry" />
        <img class="emojis hoverable circle responsive-img" src="static/images/hangry.png">
        <h4> hangry </h4>
      </label>
    </div>
    <div class="col s3">
      <label>
        <input type="radio" name="moods" value="sad" />
        <img class="emojis hoverable circle responsive-img" src="static/images/sad.png">
        <h4> sad </h4>
      </label>
    </div>
    <div class="col s3">
      <label>
        <input type="radio" name="moods" value="baller" />
        <img class="emojis hoverable circle responsive-img" src="static/images/baller.png">
        <h4> baller </h4>
      </label>
    </div>
  </div>

  <!-- space for emojis -->
  <div class="row"></div>

  <!-- second row of emojis -->

  <div class='row center-align'>
    <div class="col s3">
      <label>
        <input type="radio" name="moods" value="grungy" />
        <img class="emojis hoverable circle responsive-img" src="static/images/grungy.png">
        <h4> grungy </h4>
      </label>
    </div>
    <div class="col s3">
      <label>
        <input type="radio" name="moods" value="stressed" />
        <img class="emojis hoverable circle responsive-img" src="static/images/stressed.png">
        <h4> stressed </h4>
      </label>
    </div>
    <div class="col s3">
      <label>
        <input type="radio" name="moods" value="celebratory" />
        <img class="emojis hoverable circle responsive-img" src="static/images/celebratory.png">
        <h4> celebratory </h4>
      </label>
    </div>
  <div class="col s3">
    <label>
      <input type="radio" name="moods" value="cheap" />
      <img class="emojis hoverable circle responsive-img" src="static/images/cheap.png">
      <h4> cheap </h4>
    </label>
  </div>
  </div>


  <div class="row"></div>
  <!-- show me the food button -->
    <div class="row center-align">
      <a class="waves-effect waves-light btn blue-grey lighten-1" ><i class="material-icons">restaurant</i> Show me the food!</a>
    </div>
  </div>
</form>
