<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food for My Mood</title>

    <!------------------ STYLES ------------------>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" href="node_modules/materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/auto-complete.css">
    <link rel="stylesheet" href="/static/css/main.css">

  </head>
  <body>
    <!-- <h1>restaurants a-z</h1> -->
    <!-- 1. get and display restaurant names by alphabetical
    2. connect them to their website_url -->
    <div class="row">
      <ul class="col s12 center-align">
      {{#each results}}
        <li >
        <a class="orange-text" href="/search/?search_term={{namehtml}}"> {{name}} </a>
        </li>

        {{/each}}
      </ul>
    </div>


  </body>
</html>
