


    <!-- restaurants a-z -->
    <!-- 1. get and display restaurant names by alphabetical
    2. connect them to their website_url -->

    <div class="row center-align">
      <div class="col s12">
        {{#each sorted}}
          {{@key}}
          {{#each this}}
            <ul>
              <li>
                <a class="orange-text" href="/search/?search_term={{this.this.html}}">{{this.this.name}} </a>
              </li>
            </ul>
          {{/each}}
        {{/each}}
      </div>
