<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TEST-Listing Page</title>
  </head>
  <body>
    <h1>Search Results</h1>
    <ul>
  {{#each results}}
    <li><strong>{{name}}</strong>: {{atmosphere}} -- {{description}}</li>
  {{/each}}
</ul>
  </body>
</html>
