@import "../../node_modules/materialize-css/sass/components/color"
@import "../../node_modules/materialize-css/sass/components/variables"

body
  background-color: $primary-color-dark
  color: lighten($primary-color-light, 20%)

h1
  font-size: 2.5em
  font-weight: 600

h2
  font-size: 1.8em

strong
  font-size: 1.2em
  font-weight: 500
