/*
Error: Illegal nesting: Nothing may be nested beneath variable declarations.
        on line 56 of static/css/main.sass

51:   box-shadow: 0 1px 0 0 $secondary-color
52: 
53: 
54:   // media queries
55: $break-small: 320px
56: 
57:   @media screen and (max-width: $break-small) {
58:     .emojis
59:       width: 15%
60:   }
61: //   @media screen and (min-width: $break-large) {

Backtrace:
static/css/main.sass:56
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/engine.rb:743:in `parse_variable'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/engine.rb:642:in `parse_line'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/engine.rb:536:in `build_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/engine.rb:555:in `block in append_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/engine.rb:554:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/engine.rb:554:in `append_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/engine.rb:409:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/exec/sass_scss.rb:391:in `run'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/exec/base.rb:52:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.24/bin/sass:13:in `<top (required)>'
/usr/bin/sass:23:in `load'
/usr/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Illegal nesting: Nothing may be nested beneath variable declarations.\A         on line 56 of static/css/main.sass\A \A 51:   box-shadow: 0 1px 0 0 $secondary-color\A 52: \A 53: \A 54:   // media queries\A 55: $break-small: 320px\A 56: \A 57:   @media screen and (max-width: $break-small) {\A 58:     .emojis\A 59:       width: 15%\A 60:   }\A 61: //   @media screen and (min-width: $break-large) {"; }
